.properties-preview {
  ._component {
    padding-inline-start: s-space(30);
    width: 100%;
    flex-shrink: 0;
  }

  ._prop {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid s-color(accent, --alpha 0.3);
  }

  ._label {
    position: relative;
    color: s-color(accent);
    width: 10ch;
    text-align: right;
    padding-inline-end: s-space(20);
    padding-block: s-space(10);
    opacity: 0.3;
    transition: s-transition(fast);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: s-color(accent, --alpha 0.1);
    }
  }
  &:not(:hover) ._label,
  ._prop:hover > ._label {
    opacity: 1;
  }

  ._value {
    padding-inline-start: s-space(20);
    padding-block: s-space(10);
    flex-shrink: 1;
    width: calc(100% - 10ch);
    opacity: 0.3;
    transition: s-transition(fast);
    background: s-color(accent, --alpha 0);
  }
  &:not(:hover) ._value,
  ._prop:hover > ._value {
    opacity: 1;
    background: s-color(accent, --alpha 0.1);
  }

  ._class {
    font-weight: bold;
    padding-inline-start: s-space(20);
    padding-block: s-space(10);
    opacity: 0.3;
    transition: s-transition(fast);
  }
  &:not(:hover) ._class,
  ._prop:hover > ._class {
    opacity: 1;
  }
}
