@import './card.bare.css';

.card {
  background-color: #fff;
  border-radius: s-radius();
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  ._figure {
    img,
    video {
      scale: 1;
      @s-transition (fast);
    }
  }
  &:hover,
  &:focus {
    ._figure {
      img,
      video {
        scale: 1.05;
      }
    }
  }

  ._area-figure {
  }

  ._body {
    padding: s-space(30);
  }
}
